@media (prefers-color-scheme: dark) {
    body {
        background-color: #4c8257;
        color: aliceblue;
    }

    main {
        background-color: #333;
        border: solid #055511 15px;
    }

    a, a:visited {
        color: white;
    }
}