@font-face {
    font-family: PlayFair;
    src: url('playfair.ttf');
}

 @media screen and (orientation:portrait) {
    .gallery img {
        display: none !important;
    }

    .gallery img:first-child {
        display: block !important;
        max-width: 80vw;
    }
 }

body {
    background-color: bisque;
}

p {
    font-size: 1.5rem;
}

h1, h2, h3 {
    font-family: 'PlayFair';
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

.gallery {
    margin: auto;
    justify-content: center;
}

.gallery.grid {
    display: grid;
    grid-template-columns: auto auto;
}

.gallery.flex {
    display: flex;
}

.gallery img {
    display: block;
    max-height: 36vh;
    margin: 20px;
    overflow: auto;
}

main {
    background-color: whitesmoke;
    width: 86%;
    margin: auto;
    padding: 1rem 2rem;
    border: solid #f9c894 15px
}

header {
    text-align: center;
}